/*For the header image*/

.ItemImg{
  width:416px;
  height:416px;
  margin-left: 72px;
  margin-top:48px;
  margin-right:24px;
}
/*CSS FOR THE ADD TO BOX COMPONENT*/
.App{
 display: flex;
 justify-content: center;
  margin: 0 auto;
  width:100%;
  height:100%;

}
.Main{
  display: inline-flex;
}

.shipTO{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  width: 306px;
  margin-top: 48px;
  margin-left: 24px;
  margin-right: 72px;
  height: 256px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}
.login{
  background-color: #FF6600;
  border: 1px solid #FF6600;
  border-radius: 20px;
  width: 258px;
  height: 40px;
  margin-left:24px;
  margin-right: 24px;
  font-weight: medium;

}
.login:hover{
  background-color:#ff9d00ec;
  cursor: pointer;
}

.label1{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 0px;
}

.contact{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FF6600;
  border-radius: 20px;
  width: 258px;
  height: 40px;
  margin-top: 12px;
  margin-left:24px;
  margin-right: 24px;
  }
  .contact:hover{
    background-color:#f3dfd3;
    cursor: pointer;
  }
.info1{
  margin-left: 12px;
}
.info1:hover{
  background-color:#dfdddd;
  cursor: pointer;
}
.onHover{
  display: none;
}
.info1:hover +.onHover{
  display:contents;
  color: #333333;
  font-family: Roboto;
  font-weight: bold;
}
.label2{
  color: #FF6600;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  width: 210px;
  
}

.ship1{
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 0px;
  margin-top: 28px;
  padding: 0px;
  position:relative;
  display: inline-flex;

}
.priceTag{
  color: #333333;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  width: 78px;
  height: 24px;
  padding: 0px;

}
.shipPlace{
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  width: 132px;
  height: 32px;
  overflow: hidden; 
  text-overflow: ellipsis;
  margin-right: 48px;
  
}
.country{
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;

}

.envelop{
  margin-right: 12px;

}

.ship2{
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-left: 24px;
}


/*Info box Css*/
/*First Container in Info Box*/
.infoBoxMain{
  width: 526px;
  height: 544px;
  margin-top: 48px;
}
.infoBox{
  display: inline-flex	;
}

.Stock1{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px 0 0 2px;
  width: 90px;
  height: 20px;
  color: #ffffff;
  background-image: linear-gradient(270deg, #F5515F 0%, #FF7527 100%);
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-top: 2px;
  margin: 0px;
}

.Stock2{
  color: #FF6600;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0);
  background-color: #FFF0E6;
  width: 75px;
  height: 20px;
  margin: 0px;
}
.Stock3{
  background-color: rgba(255, 255, 255, 0);
  background-color: #FFF0E6;
  border-radius: 0 2px 2px 0;
  width: 106px;
  height: 20px;
  color: #FF6600;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
}
.okIcon{
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

/*section for old and new price*/
.options_1{
  display:block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top:12px;
  box-shadow: inset 0 1px 0 0 #E6E7EB, inset 0 -1px 0 0 #E6E7EB;
}
.new_price{
  display:inline-flex;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}
.newPrice{
  color: #FF6600;
  display:inline-flex;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.K_{
  margin-bottom: 0px;
  margin-top: 0px;
}
.battery{
  margin-bottom: 0px;
  margin-top: 0px;
}
.opt{
  color: #999999;
  margin:auto;
  margin-left: 12px;
  margin-bottom: 4px;
}

.opt_2{
  color: #333333;
  margin: auto;
  margin-left: 11px;
  margin-bottom: 4px;
}
.minorder{
  color: #999999;
  margin: auto;
  margin-left:2px;
  margin-bottom: 4px;

}
.old_price{
  display:flex;
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-decoration:line-through;
}

/*section 2 of infoBox*/
.productName{
  line-height: 24px;
  
  text-align: left;
}
.pName{
  margin-top: 8px;
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  margin-bottom: 8px;
}
.tags{
  background-color: #EDF0F3;
  border-radius: 2px;
  width: 111px;
  height: 20px;
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-left:8px ;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  margin-left: 4px;
}


.ratings{
  display: inline-flex	;
  margin: 0px;
}

.total_buyers{
  color: #333333;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  padding-left: 24px;
  padding-top:0px;
  margin: 0px;
}

.count{
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin: 0px;
}

.rate{
  padding-right: 4px;
  
  margin: 0px;
  color: #FF6600;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
}

.stars{
  margin:0px;

}

.starIcon{
  padding-right:4px;
  padding-top: 0px;
}

/*section 4 of the infoBox*/
.deliver{
  display:inline-flex;
  margin-top: 12px;
  width: 526px;
  height: 40px;
  margin-left: 0px;
  padding: 0px;
  background-color: #FFF0E6;
  color: #FF6600;
  font-family: Roboto;
  font-size: 14px; 
  font-size: small;
  line-height: 16px;

}
.forward{
  width: 8px;
  height:14px;
  padding-top: 13px;
  padding-right: 16px;
  padding-bottom: 13px;
}
.logo{
  width: 76px;
  height: 40px;
}
.deliverShip2{
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 25px;
  white-space: nowrap;
}
.deliverShip{
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  white-space: nowrap;
}

/*Css for infoBox container 5*/
.Discount{
  display:inline-flex;
  width: 328px;
  height: 24px;
  margin-top:28px;
  margin-bottom: 28px;
  line-height: 16px;
  white-space: nowrap;
}

.Perc{
  color: #FF6600;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  align-items:left;
}

.ends{
  color: #999999;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.time{
  width: 16px;
  height: 16px;
  margin: 0px;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  line-height: 16px;
}
.counter{
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  
}

/*Info box cointainer 6*/
.btn_container{
  float: right;
}
.minus_btn{
  background-color: #FFFFFF;
  border: 1px solid #E6E7EB;
  width: 40px;
  height: 40px;
}
.minus_btn:hover{
  background-color:#e7e7e7;
}

.show{
  border: 1px solid #E6E7EB;
  width: 80px;
  height: 40px;
  background-color: #FFFFFF; 
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0px;
  margin:0px;
}
.minus{
  width: 14px;
  height:2px;
  padding-bottom: 4px;
}

.plus_btn{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FF6600;
  border-radius: 0 2px 2px 0;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 0 2px 2px 0;
}
.plus{
  position: center;
  
}
.plus_btn:hover{
  background-color:#f1a87d;
}

/*Info Box 7 css for */

.c_options{
  height:40px;
  position:relative;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  margin-bottom: 12px;
}
.btns{
  position: absolute;
  top: 0px;
  right: 0px;
}
.container{
  display: inline-flex;
}
.labl{
  width: 174px;
  margin-left: 112px;
}

/*Info box 8 css*/
.Assurance{
  display:inline-flex;
  color: #999999;
  font-family: Roboto;
  line-height: 16px;
  width: 526px;
}
.lock{
  margin-right: 4px;
  margin-top: 8px;
}
.Trade{
  font-weight:bold;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 24px;
}
.protect{
 font-size: 12px;
 margin-top: 24px;
}

/*info box 10 */
.pOpts{
  display:inline-flex;
  text-align: left;
  width: 526px;
}

.payments{
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin-top: 0px;
  
}
.visa{
  margin-bottom: 12px;
  margin-left: 4px;
}
.master{
  margin-bottom: 12px;
  margin-left: 4px;
}
.apple{
  margin-bottom: 12px;
  margin-left: 4px;
}

.solutions{
  display: inline-flex;
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
}
.sol1{
  margin-right: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*css for mobile phone*/
@media only screen and (max-width: 524px) {
  .Main{
    width: 360px;
    display:inline-block;
    height:1440px;
  }
  .infoBoxMain{
  padding-left: 12px;
  padding-right: 12px; 
  margin-top: 0px;
  height: 586px;
  width: 360px;
   }
 .itemI{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width:100%;
  }
  .Assurance{
    width:336px;
  }
  .pOpts{
    width:336px;
  }
  .solutions{
    width: 336px;
  }
  .productName{
    height: 72px;
    width: 336px;
    margin-top: 10px;
  }
  .deliverShip2{
    display: none;
  }
  .deliver{
    width:336px;
  }
  .options_1{
    width:336px;
  }
  .c_options{
    width:336px;
  }
  
  .labl{
    margin-left: 0px;
    width: 148px;
  }
  .show{
    width: 39px;
    height:39px;
  }
  .tags{
    margin-left: 0px;
    margin-bottom: 4px;
  }
  .ItemImg{
    width:360px;
    height: 360px;
    margin: 0px;
  }
  .ratings{
    margin-top: 13px;
  }
  .shipTO{
    margin-left: 12px;
    margin-right: 12px;
    width: 336px;
    padding-left:8px;

  }
}

@media only screen and (max-width: 1200px) and (min-width: 760px) {
  .Main{
    width: 760px;
    display:inline-block;
    height:1440px;
  }
  .infoBoxMain{
  padding-left: 12px;
  padding-right: 12px; 
  margin-top: 0px;
  height: 586px;
  width: 760px;
   }
 .itemI{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width:100%;
  }
  .Assurance{
    width:736px;
  }
  .pOpts{
    width:736px;
  }
  .solutions{
    width: 736px;
  }
  .productName{
    height: 72px;
    width: 736px;
    margin-top: 10px;
  }
  .deliverShip2{
    display: none;
  }
  .deliver{
    width:736px;
  }
  .options_1{
    width:736px;
  }
  .c_options{
    width:736px;
  }
  
  .labl{
    margin-left: 0px;
    width: 148px;
  }

  .tags{
    margin-left: 0px;
    margin-bottom: 4px;
  }
  .ItemImg{
    margin: 0px;
  }
  .ratings{
    margin-top: 13px;
  }
  .shipTO{
    margin-left: 12px;
    margin-right: 12px;
    width: 736px;
    padding-left:8px;

  }
}


@media only screen and (max-width: 760px) and (min-width: 525px) {
  .Main{
    width: 560px;
    display:inline-block;
    height:1440px;
  }
  .infoBoxMain{
  padding-left: 12px;
  padding-right: 12px; 
  margin-top: 0px;
  height: 586px;
  width: 560px;
   }
 .itemI{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width:100%;
  }
  .Assurance{
    width:536px;
  }
  .pOpts{
    width:536px;
  }
  .solutions{
    width: 536px;
  }
  .productName{
    height: 72px;
    width: 536px;
    margin-top: 10px;
  }
  .deliverShip2{
    display: none;
  }
  .deliver{
    width:536px;
  }
  .options_1{
    width:536px;
  }
  .c_options{
    width:536px;
  }
  
  .labl{
    margin-left: 0px;
    width: 148px;
  }

  .tags{
    margin-left: 0px;
    margin-bottom: 4px;
  }
  .ItemImg{
    margin: 0px;
  }
  .ratings{
    margin-top: 13px;
  }
  .shipTO{
    margin-left: 12px;
    margin-right: 12px;
    width: 536px;
    padding-left:8px;

  }
}